.btn{
    background-color: rgb(255, 135, 227);
    position: absolute;
    height: 40px;
    width: 100px;
    top: 10px;
    left: -1130px;
}
.btn1{
    background-color: rgb(255, 135, 227);
    position: absolute;
    height: 40px;
    width: 100px;
    top: 10px;
    left: 1150px;
}
table,tr,th,td{
    color: black;
    border:2px solid rgb(63, 1, 118);
    border-collapse: collapse;
    background-color: aquamarine;
    padding: 10px 34px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }
  td{
    background-color:burlywood;
  }
  .sidenav{
    position: fixed;
    z-index: 2;
  }
  .content{
    position: relative;
    top: 60px;
  }
  
  .toolbar-row{
    position: absolute;
    left: 1140px;
  }
  
  
  
    