.container{
    border: dashed black 2px;
    height: 500px;
    width: 1200px;
    background-color: aquamarine;
    position: relative;
    top: 30px;
    left: 40px;
}
.form-container{
    position: relative;
    top: -45px;
}
.example-full-width1{
    position: relative;
    width: 400px;
    top: 70px;
    left: 50px;
}
.example-full-width2{
    position: relative;
    width: 400px;
    top: 70px;
    left: 350px;
}
.example-full-width3{
    position: relative;
    width: 400px;
    top: 170px;
    left: -50px;
}
.example-full-width4{
    position: relative;
    width: 400px;
    top: 92px;
    left: 50px;
}
.example-full-width5{
    position: relative;
    width: 400px;
    top: 200px;
    left: 350px;
}
.example-full-width6{
    position: relative;
    width: 400px;
    top: 200px;
    left: -750px;
}
.sign-btn{
    background-color: rgb(255, 135, 227);
    position: relative;
    top: 250px;
    left: 580px;
}
.anchor{
    position: relative;
    top: 300px;
    left: 465px;
}






