table,tr,th,td{
  border:2px solid rgb(63, 1, 118);
  border-collapse: collapse;
  padding: 7px 44px;
}

  ::ng-deep .mdc-dialog__container .mat-mdc-dialog-surface.mdc-dialog__surface{
    background-color: rgb(104, 229, 164);
}


.dialog-container{
    background-color: rgb(255, 127, 219);
}
  