.btn{
    background-color: rgb(255, 135, 227);
    position: relative;
    height: 40px;
    width: 100px;
    top: -550px;
    left: 950px;
}
.btn1{
    background-color: rgb(255, 135, 227);
    position: relative;
    height: 40px;
    width: 100px;
    top: -550px;
    left: 1000px;
}