.btn{
    background-color: rgb(255, 135, 227);
    position: absolute;
    height: 40px;
    width: 100px;
    top: 10px;
    left: 1000px;
}
.btn1{
    background-color: rgb(255, 135, 227);
    position: absolute;
    height: 40px;
    width: 100px;
    top: 10px;
    left: 1150px;
}